In [9]:
import json
fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

In [10]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 40},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 145},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Noodles', 'pr': 25, 'qn': 34},
 '1011': {'name': 'Chicken', 'pr': 150, 'qn': 20},
 '1012': {'name': 'Mangoes per Kg', 'pr': 100, 'qn': 16},
 '1013': {'name': 'Bathing bar', 'pr': 20, 'qn': 40},
 '1014': {'name': 'Cake', 'pr': 250, 'qn': 90},
 '1015': {'name': "Kid's dress", 'pr': 200, 'qn': 20},
 '1016': {'name': 'Milk', 'pr': 25, 'qn': 30},
 '1017': {'name': 'Chilly powder', 'pr': 35, 'qn': 50},
 '1018': {'name': 'fish', 'pr': 45, 'qn': 20},
 '1019': {'name': 'CFL', 'pr': 80, 'qn': 48},
 '1020': {'name': 'Note Book', 'pr': 45, 'qn': 67},
 '1021': {'name': 'Snacks', 'pr': 39, 'qn': 59},
 '1022': {'name': 'Steel Plate', 'pr': 50, 'qn': 45},
 '1023': {'name': 'Women Sandals', 'pr': 500, 'qn': 72},
 '1024': {'name': 'Mobile Phone', 'pr': 25000, 'qn': 23},
 '1025': {'name': 'Laptop', 'pr': 75000, 'qn': 23},
 '1026': {'name': 'Bread', 'pr': 25, 'qn': 3},
 '1027': {'name': 'T-shirts', 'pr': 100, 'qn': 30},
 '1028': {'name': 'Rice', 'pr': 35, 'qn': 175},
 '1029': {'name': 'Peanut butter', 'pr': 50, 'qn': 80},
 '1030': {'name': 'Cherry', 'pr': 10, 'qn': 39},
 '1031': {'name': 'Biscut', 'pr': 30, 'qn': 25}}

In [ ]:
flag=0
prod_id = str(input("Enter product id:"))
qn = int(input("Enter quantity:"))
for i in record.keys():
  if (i==prod_id):
    record[prod_id]['qn']+=qn
    flag=1
    print ('Product quantity updated successfully')
if (flag!=1):
   name = str(input("Enter name:"))
   pr = int(input("Enter price:"))
   record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}
   print('New product added to the inventory successfully')
js = json.dumps(record)
fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1031
Enter quantity:25
Enter name:Biscut
Enter price:30
New product added to the inventory successfully

In [ ]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 40},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 145},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Noodles', 'pr': 25, 'qn': 34},
 '1011': {'name': 'Chicken', 'pr': 150, 'qn': 20},
 '1012': {'name': 'Mangoes per Kg', 'pr': 100, 'qn': 16},
 '1013': {'name': 'Bathing bar', 'pr': 20, 'qn': 40},
 '1014': {'name': 'Cake', 'pr': 250, 'qn': 90},
 '1015': {'name': "Kid's dress", 'pr': 200, 'qn': 20},
 '1016': {'name': 'Milk', 'pr': 25, 'qn': 30},
 '1017': {'name': 'Chilly powder', 'pr': 35, 'qn': 50},
 '1018': {'name': 'fish', 'pr': 45, 'qn': 20},
 '1019': {'name': 'CFL', 'pr': 80, 'qn': 48},
 '1020': {'name': 'Note Book', 'pr': 45, 'qn': 67},
 '1021': {'name': 'Snacks', 'pr': 39, 'qn': 59},
 '1022': {'name': 'Steel Plate', 'pr': 50, 'qn': 45},
 '1023': {'name': 'Women Sandals', 'pr': 500, 'qn': 72},
 '1024': {'name': 'Mobile Phone', 'pr': 25000, 'qn': 23},
 '1025': {'name': 'Laptop', 'pr': 75000, 'qn': 23},
 '1026': {'name': 'Bread', 'pr': 25, 'qn': 3},
 '1027': {'name': 'T-shirts', 'pr': 100, 'qn': 30},
 '1028': {'name': 'Rice', 'pr': 35, 'qn': 175},
 '1029': {'name': 'Peanut butter', 'pr': 50, 'qn': 80},
 '1030': {'name': 'Cherry', 'pr': 10, 'qn': 39},
 '1031': {'name': 'Biscut', 'pr': 30, 'qn': 25}}

In [8]:
js = json.dumps(record)
fd = open("record.json",'w')
fd.write(js)
fd.close()